Node-Red Update values
[{"id":"bf064b56a550b429","type":"tab","label":"Kids Chores","disabled":false,"info":"","env":[]},{"id":"fb13448773bec55c","type":"function","z":"bf064b56a550b429","name":"Get Hailey Chore Value from Previous Day","func":"const HaileyTotal = global.get(\"homeassistant.homeAssistant.states['counter.counter_hailey_chores_daily']\");\nmsg.state = HaileyTotal.state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":100,"wires":[["ad7084ea1b3b07fc"]]},{"id":"ad7084ea1b3b07fc","type":"api-call-service","z":"bf064b56a550b429","name":"Set Hailey Chore Value","server":"d1a10b00.7d6558","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":[],"data":"{     \"entity_id\": \"input_number.hailey_daily_chores_total\"     ,\"value\": state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":100,"wires":[[]]},{"id":"9b71dbca636c5613","type":"inject","z":"bf064b56a550b429","name":"Run at 23:58","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"58 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["fb13448773bec55c","0174c06a525624da"]]},{"id":"0174c06a525624da","type":"function","z":"bf064b56a550b429","name":"Get Michael Chore Value from Previous Day","func":"const MikeyValue = global.get(\"homeassistant.homeAssistant.states['counter.counter_michael_chores_daily']\");\nmsg.state = MikeyValue.state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":180,"wires":[["86f25bb6ecf89b76"]]},{"id":"86f25bb6ecf89b76","type":"api-call-service","z":"bf064b56a550b429","name":"Set Michael Chore Value","server":"d1a10b00.7d6558","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":[],"data":"{     \"entity_id\": \"input_number.michael_daily_chore_total\"     ,\"value\": state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":180,"wires":[[]]},{"id":"8a450476f9ab911c","type":"inject","z":"bf064b56a550b429","name":"Run at 00:15","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"15 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1100,"wires":[["63b5a666794d3df4","63a185713e8d5a53","01feb08985c0fc83","500496adf10d791d","76a2fcc03a7efa27","222fdbe4ff3d41cc","3fb367082aecc0e9","261f401cd462fa22","2c895ed2a5bc38b2","90fbac3ce5ab2082","6efc79a85acac099","9457f1dcbd4bfc35","81c83a989de58352","f2e8d1d723b3a24d","99c102ba3427add5","c7314fb73ec3bfdb","cfd5e1532c8856b5","4b0dc939e812a840","1b9ae3214f08f93c","c5c8327ab67fcf2a","4d5c160c74063ae3","cb3b0c6b5395cbab"]]},{"id":"63b5a666794d3df4","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_hailey_dadmassage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":520,"wires":[["31de3f6f895cd756"],[]]},{"id":"31de3f6f895cd756","type":"api-call-service","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.chore_enable_dad_massage"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":480,"wires":[[]]},{"id":"63a185713e8d5a53","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_michael_dadmassage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":640,"y":460,"wires":[["31de3f6f895cd756"],[]]},{"id":"500496adf10d791d","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_michael_dinner","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":660,"wires":[["be3f09ce6186e03c"],[]]},{"id":"be3f09ce6186e03c","type":"api-call-service","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.chore_enable_help_with_dinner"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":620,"wires":[[]]},{"id":"01feb08985c0fc83","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_hailey_dinner","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":600,"wires":[["be3f09ce6186e03c"],[]]},{"id":"222fdbe4ff3d41cc","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_michael_guestroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":800,"wires":[["578f9c75fe5eecbe"],[]]},{"id":"578f9c75fe5eecbe","type":"api-call-service","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.chore_enable_clean_guestroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":760,"wires":[[]]},{"id":"76a2fcc03a7efa27","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_hailey_guestroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":740,"wires":[["578f9c75fe5eecbe"],[]]},{"id":"261f401cd462fa22","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_michael_mmassage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":940,"wires":[["0845901903eff2db"],[]]},{"id":"0845901903eff2db","type":"api-call-service","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.chore_enable_mom_massage"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":900,"wires":[[]]},{"id":"3fb367082aecc0e9","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_hailey_mmassage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":880,"wires":[["0845901903eff2db"],[]]},{"id":"90fbac3ce5ab2082","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_michael_mop","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":1080,"wires":[["27b7c47a8be86908"],[]]},{"id":"27b7c47a8be86908","type":"api-call-service","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.chore_enable_mop_downstairs"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":1040,"wires":[[]]},{"id":"2c895ed2a5bc38b2","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_hailey_mop","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":1020,"wires":[["27b7c47a8be86908"],[]]},{"id":"9457f1dcbd4bfc35","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_michael_parentsbed","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":630,"y":1220,"wires":[["fe38e47a7320a412"],[]]},{"id":"fe38e47a7320a412","type":"api-call-service","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.chore_enable_parentsbed"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":1180,"wires":[[]]},{"id":"6efc79a85acac099","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_hailey_parentsbed","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":1160,"wires":[["fe38e47a7320a412"],[]]},{"id":"f2e8d1d723b3a24d","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_michael_poop","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":1360,"wires":[["dd6628f05cb15c58"],[]]},{"id":"dd6628f05cb15c58","type":"api-call-service","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.chore_enable_pick_up_poo"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":1320,"wires":[[]]},{"id":"81c83a989de58352","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_hailey_poop","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":1300,"wires":[["dd6628f05cb15c58"],[]]},{"id":"c7314fb73ec3bfdb","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_michael_shop","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":1500,"wires":[["35d6890a536963e2"],[]]},{"id":"35d6890a536963e2","type":"api-call-service","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.chore_enable_help_at_shop"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":1460,"wires":[[]]},{"id":"99c102ba3427add5","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_hailey_shop","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":1440,"wires":[["35d6890a536963e2"],[]]},{"id":"4b0dc939e812a840","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_michael_sweep","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":1640,"wires":[["f266776c34da0a37"],[]]},{"id":"f266776c34da0a37","type":"api-call-service","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.chore_enable_sweep_downstairs"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":1600,"wires":[[]]},{"id":"cfd5e1532c8856b5","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_hailey_sweep","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":1580,"wires":[["f266776c34da0a37"],[]]},{"id":"c5c8327ab67fcf2a","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_michael_vacuum","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":1780,"wires":[["6e21b06a113bfd7d"],[]]},{"id":"6e21b06a113bfd7d","type":"api-call-service","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.chore_enable_vacuum_upstairs"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":1740,"wires":[[]]},{"id":"1b9ae3214f08f93c","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_hailey_vacuum","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":1720,"wires":[["6e21b06a113bfd7d"],[]]},{"id":"cb3b0c6b5395cbab","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_michael_coffee","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":1920,"wires":[["17446126af7bf723"],[]]},{"id":"17446126af7bf723","type":"api-call-service","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.chore_enable_make_parents_coffee"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":1880,"wires":[[]]},{"id":"4d5c160c74063ae3","type":"api-current-state","z":"bf064b56a550b429","name":"","server":"d1a10b00.7d6558","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.chore_select_hailey_coffee","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":1860,"wires":[["17446126af7bf723"],[]]},{"id":"d1a10b00.7d6558","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
